.DS_Store
/data/*
!/data/.gitkeep

/project/data/*
# Ignore the specific file
outer_joined_data.csv

# Ignore all CSV files in the directory
project/data/raw_csv_without_transform/*.csv

#ignore jupyternotebook checkpoints and some notebook
project/.ipynb_checkpoints/*
project/Data_Report.ipynb
