.DS_Store
/data/*
/exercises/*.sqlite
!/data/.gitkeep

/project/data/*
# Ignore the specific file
outer_joined_data.csv

# Ignore all CSV files in the directory
project/data/raw_csv_without_transform/*.csv

#ignore jupyternotebook checkpoints and some notebook
project/.ipynb_checkpoints/*
project/Data_Report.ipynb

/project/__pycache__/*
/tests/__pycache__/*
/tests/data/*
/project/Extract_Transform/__pycache__/*